In [2]:


#importing libraries

import pandas as pd
import numpy as np

# uploading the file from the local drive

#candidate = pd.read_csv('/home/vishal/Documents/demo/data/candidate_data.csv')
job = pd.read_csv('/home/vishal/Documents/demo/data/job_data.csv')


job.head()

,job_id,job_title,company_name,job_description,created_at,modified_at,expiry_date,number_of_openings,education,experience,city,state,salary,trade,type_of_work
0,698bd881-1f62-4b8d-b4bf-b33b1eb1cfc1,Storekeeper,Amul company,<p>URGENT REQUIRED MALE &amp; FEMALE NEW STAFF...,2022-06-12 04:56:32.569 +0530,2022-06-26 06:25:23.123 +0530,2022-07-12 04:56:33.005 +0530,23.0,10th Pass,Fresher,Ranchi,Jharkhand,Rs. 10000 to Rs.15000,Food Production (General),Full Time
1,ceff9105-dfc6-4981-baae-6074bd8e77a8,Storekeeper,Amul company,<p>URGENT REQUIRED MALE &amp; FEMALE NEW STAFF...,2022-06-12 04:57:34.633 +0530,2022-06-26 06:25:25.427 +0530,2022-07-12 04:57:35.021 +0530,22.0,10th Pass,Fresher,Dhanbad (Jharkhand),Jharkhand,Rs. 10000 to Rs.15000,Food Production (General),Full Time
2,055b2d95-83ae-4050-a191-b09af946f938,Storekeeper,Amul company,<p>URGENT REQUIRED MALE &amp; FEMALE NEW STAFF...,2022-06-12 04:58:37.067 +0530,2022-06-26 06:25:31.386 +0530,2022-07-12 04:58:37.482 +0530,14.0,10th Pass,Fresher,Jamshedpur (East Singhbum),Jharkhand,Rs. 10000 to Rs.15000,Food Production (General),Full Time
3,760f6fdb-0c3b-44c1-8332-e4a77b00ac54,first testing,first job,<p>testing</p>,2022-07-02 17:47:19.447 +0530,2022-07-02 18:20:40.471 +0530,2022-08-01 17:47:19.905 +0530,2.0,8th Class or Below,Fresher,Agra,Uttar Pradesh,Less than Rs.10000,AC Technician,Full Time
4,9dacfc3a-b36c-416e-9125-199e2123518c,ड्रायव्हर,Tata company,NaN,2021-10-13 21:20:01.642 +0530,2021-10-16 14:48:49.491 +0530,2021-11-12 21:20:01.642 +0530,NaN,10th Pass,3-5 yrs,Pune,Maharashtra,Rs. 15001 to Rs.25000,Drivers,Full Time

In [3]:


# Listing out all the columns that are present in the data set.

list(job)

['job_id',
 'job_title',
 'company_name',
 'job_description',
 'created_at',
 'modified_at',
 'expiry_date',
 'number_of_openings',
 'education',
 'experience',
 'city',
 'state',
 'salary',
 'trade',
 'type_of_work']

In [4]:

print(job.shape)
job.isnull().sum()

(3850, 15)

job_id                 0
job_title              2
company_name           1
job_description       94
created_at             0
modified_at            0
expiry_date            0
number_of_openings    90
education              0
experience             0
city                   0
state                  0
salary                 0
trade                  0
type_of_work           0
dtype: int64

In [5]:
job = job.dropna()
job.isnull().sum()

job_id                0
job_title             0
company_name          0
job_description       0
created_at            0
modified_at           0
expiry_date           0
number_of_openings    0
education             0
experience            0
city                  0
state                 0
salary                0
trade                 0
type_of_work          0
dtype: int64

In [6]:
#subsetting only needed columns and not considering the columns that are not necessary
cols = list(['job_id']+['company_name']+['job_title']+['trade']+ ['education']+['city']+['type_of_work']+['experience']+['salary'])
final_jobs =job[cols]
final_jobs.columns = ['job_id','company_name', 'job_title', 'trade', 'education','city', 'type_of_work','experience','salary']
final_jobs.head()

,job_id,company_name,job_title,trade,education,city,type_of_work,experience,salary
0,698bd881-1f62-4b8d-b4bf-b33b1eb1cfc1,Amul company,Storekeeper,Food Production (General),10th Pass,Ranchi,Full Time,Fresher,Rs. 10000 to Rs.15000
1,ceff9105-dfc6-4981-baae-6074bd8e77a8,Amul company,Storekeeper,Food Production (General),10th Pass,Dhanbad (Jharkhand),Full Time,Fresher,Rs. 10000 to Rs.15000
2,055b2d95-83ae-4050-a191-b09af946f938,Amul company,Storekeeper,Food Production (General),10th Pass,Jamshedpur (East Singhbum),Full Time,Fresher,Rs. 10000 to Rs.15000
3,760f6fdb-0c3b-44c1-8332-e4a77b00ac54,first job,first testing,AC Technician,8th Class or Below,Agra,Full Time,Fresher,Less than Rs.10000
5,6f60b4d0-01c8-4e0d-9026-b5ff67cae327,Meksa Enterprises,Delivery Boy,Delivery Executive,10th Pass,Delhi,Full Time,Fresher,Rs. 10000 to Rs.15000

# corpus


combining the columns of position,company,city,emp_type and position¶

In [7]:
final_jobs["trade_education_city_type_of_work_experience"] = final_jobs["trade"].map(str) + " " + final_jobs["education"] +" "+ final_jobs["city"]+ " "+final_jobs['type_of_work']+" "+final_jobs['experience']
final_jobs.trade_education_city_type_of_work_experience.head()

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0    Food Production (General) 10th Pass Ranchi Ful...
1    Food Production (General) 10th Pass Dhanbad (J...
2    Food Production (General) 10th Pass Jamshedpur...
3    AC Technician 8th Class or Below Agra Full Tim...
5    Delivery Executive 10th Pass Delhi Full Time F...
Name: trade_education_city_type_of_work_experience, dtype: object

In [8]:
import re
def cleanJob(jobText):
    jobText = re.sub('http\S+\s*', ' ', jobText)  # remove URl
    jobText = re.sub('RT|cc', ' ', jobText)  # remove RT and cc
    jobText = re.sub('#\S+', '', jobText)  # remove hashtags
    jobText = re.sub('@\S+', '  ', jobText)  # remove mentions
    jobText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', jobText)  # remove punctuations
    jobText = re.sub(r'[^\x00-\x7f]',r' ', jobText) 
    jobText = re.sub('\s+', ' ', jobText)  # remove extra whitespace
    return jobText

In [9]:
final_jobs["cleaned_job"] = final_jobs.trade_education_city_type_of_work_experience.apply(lambda x: cleanJob(x))
print (final_jobs["cleaned_job"])

0       Food Production General 10th Pass Ranchi Full ...
1       Food Production General 10th Pass Dhanbad Jhar...
2       Food Production General 10th Pass Jamshedpur E...
3       AC Technician 8th Class or Below Agra Full Tim...
5       Delivery Executive 10th Pass Delhi Full Time F...
                              ...
3845    Automotive Fitter 8th Class or Below Noida Ful...
3846    Automotive Fitter 8th Class or Below Noida Ful...
3847    Automotive Fitter 8th Class or Below Noida Ful...
3848    Automotive Fitter 8th Class or Below Noida Ful...
3849    Automotive Fitter 8th Class or Below Noida Ful...
Name: cleaned_job, Length: 3683, dtype: object

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:


#converting all the characeters to lower case
final_jobs['cleaned_job'] = final_jobs['cleaned_job'].str.lower() 
final_jobs.cleaned_job.head()

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0    food production general 10th pass ranchi full ...
1    food production general 10th pass dhanbad jhar...
2    food production general 10th pass jamshedpur e...
3    ac technician 8th class or below agra full tim...
5    delivery executive 10th pass delhi full time f...
Name: cleaned_job, dtype: object

In [11]:
final_all = final_jobs[['job_id', 'cleaned_job']]
# renaming the column name as it seemed a bit complicated
final_all = final_jobs[['job_id', 'cleaned_job']]
final_all = final_all.fillna(" ")

final_all.head()

,job_id,cleaned_job
0,698bd881-1f62-4b8d-b4bf-b33b1eb1cfc1,food production general 10th pass ranchi full ...
1,ceff9105-dfc6-4981-baae-6074bd8e77a8,food production general 10th pass dhanbad jhar...
2,055b2d95-83ae-4050-a191-b09af946f938,food production general 10th pass jamshedpur e...
3,760f6fdb-0c3b-44c1-8332-e4a77b00ac54,ac technician 8th class or below agra full tim...
5,6f60b4d0-01c8-4e0d-9026-b5ff67cae327,delivery executive 10th pass delhi full time f...

In [12]:
print(final_all.head(1))

                                 job_id  \
0  698bd881-1f62-4b8d-b4bf-b33b1eb1cfc1

                                         cleaned_job
0  food production general 10th pass ranchi full ...

# NLTK stands for Natural Languague Toolkit¶

In [13]:
cleaned_job = final_all['cleaned_job']
#removing stopwords and applying potter stemming
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
stemmer =  PorterStemmer()
stop = stopwords.words('english')
only_text = cleaned_job.apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
only_text.head()

0    food production general 10th pass ranchi full ...
1    food production general 10th pass dhanbad jhar...
2    food production general 10th pass jamshedpur e...
3       ac technician 8th class agra full time fresher
5    delivery executive 10th pass delhi full time f...
Name: cleaned_job, dtype: object



Splitting each word in a row separated by space.

In [14]:


only_text = only_text.apply(lambda x : filter(None,x.split(" ")))
print(only_text.head())

0    <filter object at 0x7fad5953ed68>
1    <filter object at 0x7fad4b852860>
2    <filter object at 0x7fad4b852c18>
3    <filter object at 0x7fad4b852e10>
5    <filter object at 0x7fad4b852fd0>
Name: cleaned_job, dtype: object



Here stemming is basically used to remove the suffixes and common words that repeat and separated by commas. for y in x means, for each word(y) in the total list(x)

In [15]:
only_text = only_text.apply(lambda x : [stemmer.stem(y) for y in x])
print(only_text.head())

0    [food, product, gener, 10th, pass, ranchi, ful...
1    [food, product, gener, 10th, pass, dhanbad, jh...
2    [food, product, gener, 10th, pass, jamshedpur,...
3    [ac, technician, 8th, class, agra, full, time,...
5    [deliveri, execut, 10th, pass, delhi, full, ti...
Name: cleaned_job, dtype: object

In the above code, we separated each letter in a word separated by comma, now, in this step, we join the words(x)

In [16]:


only_text = only_text.apply(lambda x : " ".join(x))
print(only_text.head())

0    food product gener 10th pass ranchi full time ...
1    food product gener 10th pass dhanbad jharkhand...
2    food product gener 10th pass jamshedpur east s...
3       ac technician 8th class agra full time fresher
5    deliveri execut 10th pass delhi full time fresher
Name: cleaned_job, dtype: object

In [17]:


#adding the featured column back to pandas
final_all['text']= only_text
# As we have added a new column by performing all the operations using lambda function, we are removing the unnecessary column
#final_all = final_all.drop("pos_com_city_empType_jobDesc", 1)

list(final_all)
final_all.head()

,job_id,cleaned_job,text
0,698bd881-1f62-4b8d-b4bf-b33b1eb1cfc1,food production general 10th pass ranchi full ...,food product gener 10th pass ranchi full time ...
1,ceff9105-dfc6-4981-baae-6074bd8e77a8,food production general 10th pass dhanbad jhar...,food product gener 10th pass dhanbad jharkhand...
2,055b2d95-83ae-4050-a191-b09af946f938,food production general 10th pass jamshedpur e...,food product gener 10th pass jamshedpur east s...
3,760f6fdb-0c3b-44c1-8332-e4a77b00ac54,ac technician 8th class or below agra full tim...,ac technician 8th class agra full time fresher
5,6f60b4d0-01c8-4e0d-9026-b5ff67cae327,delivery executive 10th pass delhi full time f...,deliveri execut 10th pass delhi full time fresher

In [18]:


# in order to save this file for a backup
final_all.to_csv("job_data.csv", index=True)

# TF-IDF ( Term Frequency - Inverse Document Frequency )

In [19]:
#initializing tfidf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.feature_extraction.text import CountVectorizer

tfidf_vectorizer = TfidfVectorizer()

tfidf_jobid = tfidf_vectorizer.fit_transform((final_all['text'])) #fitting and transforming the vector
tfidf_jobid

<3683x478 sparse matrix of type '<class 'numpy.float64'>'
	with 28846 stored elements in Compressed Sparse Row format>

# User query Corpus

In [20]:
# First reading my resume csv
candidate = pd.read_csv('/home/vishal/Documents/demo/data/candidate_data.csv')
candidate.head()

,candidate_id,name,created_at,update_at,city,state,trade,education,current_salary,expected_salary,experience,type_of_work
0,2655f723-d24f-428c-a860-6788389e64ad,Nitin kumar sharma,2021-08-15 13:46:46.625 +0530,2021-08-15 13:50:17.096 +0530,Ghaziabad,Uttar Pradesh,Electrician,Diploma,Rs. 15001 to Rs.25000,Rs. 15001 to Rs.25000,3-5 yrs,Full Time
1,bc4d77ca-a201-4a84-a954-99fbd99c58c9,Md Aslam Ansari,2022-07-06 09:29:27.175 +0530,2022-07-07 13:08:42.776 +0530,Katihar,Bihar,Mining,8th Class or Below,Rs. 10000 to Rs.15000,Rs. 10000 to Rs.15000,0-2 Yrs,Part Time
2,33c55193-9acc-4356-8219-326e10f8b930,vishal,2022-09-08 22:29:44.206 +0530,2022-09-12 11:47:41.566 +0530,Alwar,Rajasthan,Carpenter,ITI,Rs. 25001 to Rs. 50000,More Than Rs. 50000,0-2 Yrs,Full Time
3,aa14cd53-6d8a-4b29-a9a4-6b7f8f4611ed,DEVENDER,2021-10-02 05:22:19.649 +0530,2021-10-02 06:06:55.440 +0530,Delhi,Delhi,Drivers,10th Pass,Rs. 15001 to Rs.25000,Rs. 15001 to Rs.25000,10+ yrs,Full Time
4,91ae7262-49c2-4e71-ab4b-26e5eaed1049,Prashant Vasudeo Dhongade,2021-09-28 19:24:14.827 +0530,2021-09-28 19:31:58.006 +0530,Nagpur,Maharashtra,Multi Skilled Technician,Diploma,Rs. 15001 to Rs.25000,Rs. 25001 to Rs. 50000,3-5 yrs,Full Time

In [21]:
#subsetting only needed columns and not considering the columns that are not necessary
cols = list(['candidate_id']+['trade']+ ['education']+['city']+['type_of_work']+['experience']+['expected_salary'])
final_candidate =candidate[cols]
final_candidate.columns = ['candidate_id', 'trade', 'education','city', 'type_of_work','experience','expected_salary']
final_candidate.head()

,candidate_id,trade,education,city,type_of_work,experience,expected_salary
0,2655f723-d24f-428c-a860-6788389e64ad,Electrician,Diploma,Ghaziabad,Full Time,3-5 yrs,Rs. 15001 to Rs.25000
1,bc4d77ca-a201-4a84-a954-99fbd99c58c9,Mining,8th Class or Below,Katihar,Part Time,0-2 Yrs,Rs. 10000 to Rs.15000
2,33c55193-9acc-4356-8219-326e10f8b930,Carpenter,ITI,Alwar,Full Time,0-2 Yrs,More Than Rs. 50000
3,aa14cd53-6d8a-4b29-a9a4-6b7f8f4611ed,Drivers,10th Pass,Delhi,Full Time,10+ yrs,Rs. 15001 to Rs.25000
4,91ae7262-49c2-4e71-ab4b-26e5eaed1049,Multi Skilled Technician,Diploma,Nagpur,Full Time,3-5 yrs,Rs. 25001 to Rs. 50000

In [22]:

# checking for the null values again.
final_candidate.isnull().sum()

candidate_id       0
trade              0
education          0
city               0
type_of_work       0
experience         0
expected_salary    0
dtype: int64

In [23]:
df = final_candidate.dropna()

In [24]:
final_candidate["trade_education_city_type_of_work_experience"] = final_candidate["trade"].map(str) + " " + final_candidate["education"] +" "+ final_candidate["city"]+ " "+final_candidate['type_of_work']+" "+final_candidate['experience']
final_candidate.trade_education_city_type_of_work_experience.head()

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      Electrician Diploma Ghaziabad Full Time 3-5 yrs
1    Mining 8th Class or Below Katihar Part Time 0-...
2                Carpenter ITI Alwar Full Time 0-2 Yrs
3            Drivers 10th Pass Delhi Full Time 10+ yrs
4    Multi Skilled Technician Diploma Nagpur Full T...
Name: trade_education_city_type_of_work_experience, dtype: object

In [25]:
final_candidate["cleaned_candidate"] = final_candidate.trade_education_city_type_of_work_experience.apply(lambda x: cleanJob(x))
print(final_candidate["cleaned_candidate"])

0          Electrician Diploma Ghaziabad Full Time 3 5 yrs
1        Mining 8th Class or Below Katihar Part Time 0 ...
2                    Carpenter ITI Alwar Full Time 0 2 Yrs
3                 Drivers 10th Pass Delhi Full Time 10 yrs
4        Multi Skilled Technician Diploma Nagpur Full T...
                               ...
40609    Drivers 8th Class or Below Agar Malwa Full Tim...
40610        Welder 12th pass Allahabad Full Time 5 10 yrs
40611          Waiter 10th Pass Dehradun Full Time Fresher
40612    RO Technicians 10th Pass Sitamarhi Contractual...
40613    RO Technicians Graduate Sitamarhi Contractual ...
Name: cleaned_candidate, Length: 40614, dtype: object

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
final_candidate['cleaned_candidate'] = final_candidate['cleaned_candidate'].str.lower()
final_candidate.head()

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,candidate_id,trade,education,city,type_of_work,experience,expected_salary,trade_education_city_type_of_work_experience,cleaned_candidate
0,2655f723-d24f-428c-a860-6788389e64ad,Electrician,Diploma,Ghaziabad,Full Time,3-5 yrs,Rs. 15001 to Rs.25000,Electrician Diploma Ghaziabad Full Time 3-5 yrs,electrician diploma ghaziabad full time 3 5 yrs
1,bc4d77ca-a201-4a84-a954-99fbd99c58c9,Mining,8th Class or Below,Katihar,Part Time,0-2 Yrs,Rs. 10000 to Rs.15000,Mining 8th Class or Below Katihar Part Time 0-...,mining 8th class or below katihar part time 0 ...
2,33c55193-9acc-4356-8219-326e10f8b930,Carpenter,ITI,Alwar,Full Time,0-2 Yrs,More Than Rs. 50000,Carpenter ITI Alwar Full Time 0-2 Yrs,carpenter iti alwar full time 0 2 yrs
3,aa14cd53-6d8a-4b29-a9a4-6b7f8f4611ed,Drivers,10th Pass,Delhi,Full Time,10+ yrs,Rs. 15001 to Rs.25000,Drivers 10th Pass Delhi Full Time 10+ yrs,drivers 10th pass delhi full time 10 yrs
4,91ae7262-49c2-4e71-ab4b-26e5eaed1049,Multi Skilled Technician,Diploma,Nagpur,Full Time,3-5 yrs,Rs. 25001 to Rs. 50000,Multi Skilled Technician Diploma Nagpur Full T...,multi skilled technician diploma nagpur full t...

In [35]:
final_candidate=final_candidate.loc[:,['candidate_id','cleaned_candidate']]
final_candidate.head()

,candidate_id,cleaned_candidate
0,2655f723-d24f-428c-a860-6788389e64ad,electrician diploma ghaziabad full time 3 5 yrs
1,bc4d77ca-a201-4a84-a954-99fbd99c58c9,mining 8th class or below katihar part time 0 ...
2,33c55193-9acc-4356-8219-326e10f8b930,carpenter iti alwar full time 0 2 yrs
3,aa14cd53-6d8a-4b29-a9a4-6b7f8f4611ed,drivers 10th pass delhi full time 10 yrs
4,91ae7262-49c2-4e71-ab4b-26e5eaed1049,multi skilled technician diploma nagpur full t...

In [36]:
import numpy as np

#taking a user
u = 'bc4d77ca-a201-4a84-a954-99fbd99c58c9'
index = np.where(final_candidate['candidate_id'] == u)[0][0]
user_q = final_candidate.iloc[[index]]
user_q

,candidate_id,cleaned_candidate
1,bc4d77ca-a201-4a84-a954-99fbd99c58c9,mining 8th class or below katihar part time 0 ...

# Using vector space model ( Cosine similarity )¶

In [39]:
#creating tf-idf of user query and computing cosine similarity of user with job corpus
from sklearn.metrics.pairwise import cosine_similarity
candidate_tfidf = tfidf_vectorizer.transform(user_q['cleaned_candidate'])

#job_tfidf from above
tfidf_jobid

output = map(lambda x: cosine_similarity(candidate_tfidf, x),tfidf_jobid)
output

In [40]:
output2 = list(output)
output2

[array([[0.01319956]]),
 array([[0.0114342]]),
 array([[0.01038802]]),
 array([[0.15058489]]),
 array([[0.01976949]]),
 array([[0.12812704]]),
 array([[0.14544603]]),
 array([[0.01214175]]),
 array([[0.01220914]]),
 array([[0.01357061]]),
 array([[0.01268802]]),
 array([[0.19848719]]),
 array([[0.01332157]]),
 array([[0.01907751]]),
 array([[0.01521572]]),
 array([[0.01386543]]),
 array([[0.01463134]]),
 array([[0.01425803]]),
 array([[0.01412681]]),
 array([[0.01602558]]),
 array([[0.14573635]]),
 array([[0.01743605]]),
 array([[0.00920094]]),
 array([[0.0138968]]),
 array([[0.01567076]]),
 array([[0.]]),
 array([[0.14102217]]),
 array([[0.13039934]]),
 array([[0.12266526]]),
 array([[0.01598997]]),
 array([[0.20704019]]),
 array([[0.01360787]]),
 array([[0.17713694]]),
 array([[0.0112108]]),
 array([[0.01617487]]),
 array([[0.01070289]]),
 array([[0.01298426]]),
 array([[0.01690279]]),
 array([[0.01539575]]),
 array([[0.01675174]]),
 array([[0.01951311]]),
 array([[0.14372206]]),
 array([[0.12688919]]),
 array([[0.1505592]]),
 array([[0.01276496]]),
 array([[0.01398666]]),
 array([[0.14573635]]),
 array([[0.23447113]]),
 array([[0.01594412]]),
 array([[0.18803116]]),
 array([[0.14372206]]),
 array([[0.08973763]]),
 array([[0.0131556]]),
 array([[0.01217716]]),
 array([[0.15690422]]),
 array([[0.01594477]]),
 array([[0.10687435]]),
 array([[0.01206747]]),
 array([[0.0152508]]),
 array([[0.01092872]]),
 array([[0.13258772]]),
 array([[0.26466382]]),
 array([[0.01340725]]),
 array([[0.07209021]]),
 array([[0.01481134]]),
 array([[0.01912631]]),
 array([[0.01340725]]),
 array([[0.01111445]]),
 array([[0.13624439]]),
 array([[0.15105171]]),
 array([[0.01265755]]),
 array([[0.00761218]]),
 array([[0.13064945]]),
 array([[0.01319956]]),
 array([[0.01540954]]),
 array([[0.13516879]]),
 array([[0.]]),
 array([[0.00952289]]),
 array([[0.1505592]]),
 array([[0.20402]]),
 array([[0.16578301]]),
 array([[0.01706597]]),
 array([[0.01195682]]),
 array([[0.14372206]]),
 array([[0.13862052]]),
 array([[0.01320311]]),
 array([[0.0174181]]),
 array([[0.11043884]]),
 array([[0.01558156]]),
 array([[0.01449541]]),
 array([[0.01182325]]),
 array([[0.01569656]]),
 array([[0.01319956]]),
 array([[0.01103813]]),
 array([[0.14857037]]),
 array([[0.01496293]]),
 array([[0.16543564]]),
 array([[0.01104247]]),
 array([[0.01971096]]),
 array([[0.13118779]]),
 array([[0.00922466]]),
 array([[0.01367651]]),
 array([[0.18576014]]),
 array([[0.14139321]]),
 array([[0.01198473]]),
 array([[0.01697716]]),
 array([[0.15746387]]),
 array([[0.01053139]]),
 array([[0.01525135]]),
 array([[0.01260559]]),
 array([[0.01322342]]),
 array([[0.00840576]]),
 array([[0.01262883]]),
 array([[0.01150555]]),
 array([[0.13053048]]),
 array([[0.14634996]]),
 array([[0.17424859]]),
 array([[0.13516879]]),
 array([[0.01478564]]),
 array([[0.01242958]]),
 array([[0.01675759]]),
 array([[0.13053048]]),
 array([[0.17334992]]),
 array([[0.01463259]]),
 array([[0.00878732]]),
 array([[0.01801865]]),
 array([[0.17580528]]),
 array([[0.01644803]]),
 array([[0.07960813]]),
 array([[0.16543564]]),
 array([[0.01871582]]),
 array([[0.15023551]]),
 array([[0.13053048]]),
 array([[0.00991032]]),
 array([[0.0139812]]),
 array([[0.15541826]]),
 array([[0.14372206]]),
 array([[0.01026781]]),
 array([[0.14139321]]),
 array([[0.16044358]]),
 array([[0.16112859]]),
 array([[0.09770277]]),
 array([[0.01314677]]),
 array([[0.01314677]]),
 array([[0.14139321]]),
 array([[0.01569656]]),
 array([[0.01340725]]),
 array([[0.01634546]]),
 array([[0.01521217]]),
 array([[0.17916448]]),
 array([[0.0110409]]),
 array([[0.01214175]]),
 array([[0.13459893]]),
 array([[0.01509443]]),
 array([[0.16255709]]),
 array([[0.01090269]]),
 array([[0.01138482]]),
 array([[0.13228146]]),
 array([[0.00792755]]),
 array([[0.01227082]]),
 array([[0.0147745]]),
 array([[0.01802096]]),
 array([[0.1751445]]),
 array([[0.01477579]]),
 array([[0.01464251]]),
 array([[0.16630064]]),
 array([[0.01558156]]),
 array([[0.1535805]]),
 array([[0.15302304]]),
 array([[0.01340725]]),
 array([[0.01941511]]),
 array([[0.00969854]]),
 array([[0.12715622]]),
 array([[0.16815988]]),
 array([[0.11133016]]),
 array([[0.17916448]]),
 array([[0.01148622]]),
 array([[0.01166899]]),
 array([[0.01482649]]),
 array([[0.10483698]]),
 array([[0.01526429]]),
 array([[0.02085753]]),
 array([[0.15263918]]),
 array([[0.0176251]]),
 array([[0.00922008]]),
 array([[0.18457061]]),
 array([[0.17340318]]),
 array([[0.01421801]]),
 array([[0.0136511]]),
 array([[0.013393]]),
 array([[0.01266773]]),
 array([[0.01361782]]),
 array([[0.22059408]]),
 array([[0.01804802]]),
 array([[0.01209571]]),
 array([[0.01530366]]),
 array([[0.00925777]]),
 array([[0.11827583]]),
 array([[0.15818761]]),
 array([[0.17042789]]),
 array([[0.11708362]]),
 array([[0.]]),
 array([[0.13752533]]),
 array([[0.01244279]]),
 array([[0.01220914]]),
 array([[0.01417835]]),
 array([[0.01621832]]),
 array([[0.01628853]]),
 array([[0.01818653]]),
 array([[0.]]),
 array([[0.21211262]]),
 array([[0.0115595]]),
 array([[0.01424172]]),
 array([[0.01569656]]),
 array([[0.01384008]]),
 array([[0.12099145]]),
 array([[0.]]),
 array([[0.01668109]]),
 array([[0.16058261]]),
 array([[0.01766864]]),
 array([[0.01640663]]),
 array([[0.]]),
 array([[0.15464394]]),
 array([[0.16255709]]),
 array([[0.13877392]]),
 array([[0.0162487]]),
 array([[0.12714277]]),
 array([[0.13459893]]),
 array([[0.14570407]]),
 array([[0.01384938]]),
 array([[0.01399002]]),
 array([[0.01732093]]),
 array([[0.01398007]]),
 array([[0.17424859]]),
 array([[0.1216124]]),
 array([[0.01038369]]),
 array([[0.12142648]]),
 array([[0.11940084]]),
 array([[0.1573127]]),
 array([[0.15952679]]),
 array([[0.33654476]]),
 array([[0.15718553]]),
 array([[0.14709718]]),
 array([[0.01617487]]),
 array([[0.1581337]]),
 array([[0.01848575]]),
 array([[0.01581688]]),
 array([[0.01308117]]),
 array([[0.012415]]),
 array([[0.00849717]]),
 array([[0.15965974]]),
 array([[0.11466668]]),
 array([[0.01554868]]),
 array([[0.01554868]]),
 array([[0.01392834]]),
 array([[0.01334751]]),
 array([[0.01464251]]),
 array([[0.015903]]),
 array([[0.01477579]]),
 array([[0.01291198]]),
 array([[0.12525568]]),
 array([[0.13325743]]),
 array([[0.19848719]]),
 array([[0.01659669]]),
 array([[0.01543256]]),
 array([[0.01509545]]),
 array([[0.]]),
 array([[0.01759811]]),
 array([[0.15711008]]),
 array([[0.12715622]]),
 array([[0.01275421]]),
 array([[0.01547756]]),
 array([[0.01128256]]),
 array([[0.13459893]]),
 array([[0.01428515]]),
 array([[0.]]),
 array([[0.15062143]]),
 array([[0.00884285]]),
 array([[0.13393686]]),
 array([[0.01047004]]),
 array([[0.01317136]]),
 array([[0.01530172]]),
 array([[0.01242459]]),
 array([[0.01460058]]),
 array([[0.01473143]]),
 array([[0.13228146]]),
 array([[0.01038369]]),
 array([[0.12331247]]),
 array([[0.01912631]]),
 array([[0.01537706]]),
 array([[0.01300547]]),
 array([[0.15593533]]),
 array([[0.17848175]]),
 array([[0.01481979]]),
 array([[0.01576759]]),
 array([[0.16199955]]),
 array([[0.01387525]]),
 array([[0.01526429]]),
 array([[0.01729705]]),
 array([[0.]]),
 array([[0.15464394]]),
 array([[0.12571481]]),
 array([[0.16728174]]),
 array([[0.01187298]]),
 array([[0.00984879]]),
 array([[0.01278572]]),
 array([[0.01278572]]),
 array([[0.17424859]]),
 array([[0.01125831]]),
 array([[0.01631468]]),
 array([[0.13325743]]),
 array([[0.10121207]]),
 array([[0.01368592]]),
 array([[0.01451873]]),
 array([[0.15690422]]),
 array([[0.15464394]]),
 array([[0.16255709]]),
 array([[0.1591532]]),
 array([[0.01504665]]),
 array([[0.08084863]]),
 array([[0.01621832]]),
 array([[0.11987014]]),
 array([[0.01464659]]),
 array([[0.15718553]]),
 array([[0.01452574]]),
 array([[0.01699616]]),
 array([[0.02169978]]),
 array([[0.01312387]]),
 array([[0.01529533]]),
 array([[0.01459781]]),
 array([[0.01598997]]),
 array([[0.01190255]]),
 array([[0.01276496]]),
 array([[0.01354579]]),
 array([[0.01402035]]),
 array([[0.0122017]]),
 array([[0.13074928]]),
 array([[0.01596855]]),
 array([[0.01970095]]),
 array([[0.01383532]]),
 array([[0.01367651]]),
 array([[0.01152343]]),
 array([[0.01374709]]),
 array([[0.01266773]]),
 array([[0.01801865]]),
 array([[0.08145244]]),
 array([[0.01372936]]),
 array([[0.01891467]]),
 array([[0.01494418]]),
 array([[0.01616165]]),
 array([[0.01175333]]),
 array([[0.15869491]]),
 array([[0.01260559]]),
 array([[0.15638956]]),
 array([[0.01626444]]),
 array([[0.19848719]]),
 array([[0.19431234]]),
 array([[0.10327397]]),
 array([[0.12279112]]),
 array([[0.1618049]]),
 array([[0.01357669]]),
 array([[0.00906957]]),
 array([[0.01481979]]),
 array([[0.01626773]]),
 array([[0.01367864]]),
 array([[0.14742092]]),
 array([[0.13008634]]),
 array([[0.165202]]),
 array([[0.01473343]]),
 array([[0.01558156]]),
 array([[0.01514432]]),
 array([[0.0194472]]),
 array([[0.15003748]]),
 array([[0.17848175]]),
 array([[0.15869472]]),
 array([[0.12374888]]),
 array([[0.17653599]]),
 array([[0.01771298]]),
 array([[0.01310446]]),
 array([[0.013275]]),
 array([[0.0125934]]),
 array([[0.0114342]]),
 array([[0.019896]]),
 array([[0.01406967]]),
 array([[0.01700737]]),
 array([[0.01255979]]),
 array([[0.01355662]]),
 array([[0.0162592]]),
 array([[0.]]),
 array([[0.01521008]]),
 array([[0.13028603]]),
 array([[0.26520832]]),
 array([[0.01357061]]),
 array([[0.01227915]]),
 array([[0.01342499]]),
 array([[0.]]),
 array([[0.01119886]]),
 array([[0.16199955]]),
 array([[0.01332157]]),
 array([[0.01171146]]),
 array([[0.01179849]]),
 array([[0.02126164]]),
 array([[0.01355662]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.11941199]]),
 array([[0.01475408]]),
 array([[0.01808334]]),
 array([[0.01443088]]),
 array([[0.]]),
 array([[0.08714609]]),
 array([[0.01226102]]),
 array([[0.]]),
 array([[0.0118373]]),
 array([[0.0219047]]),
 array([[0.01037825]]),
 array([[0.0219047]]),
 array([[0.01686445]]),
 array([[0.01526355]]),
 array([[0.15718553]]),
 array([[0.01509443]]),
 array([[0.0114342]]),
 array([[0.01319956]]),
 array([[0.01227082]]),
 array([[0.01659669]]),
 array([[0.01064826]]),
 array([[0.01439116]]),
 array([[0.01602975]]),
 array([[0.13236825]]),
 array([[0.14252333]]),
 array([[0.01415051]]),
 array([[0.01103455]]),
 array([[0.01302897]]),
 array([[0.01370489]]),
 array([[0.12918725]]),
 array([[0.0100283]]),
 array([[0.01569656]]),
 array([[0.01269491]]),
 array([[0.14980332]]),
 array([[0.01279506]]),
 array([[0.01053754]]),
 array([[0.12225782]]),
 array([[0.01569656]]),
 array([[0.15232593]]),
 array([[0.01206747]]),
 array([[0.01242958]]),
 array([[0.01178414]]),
 array([[0.01782715]]),
 array([[0.]]),
 array([[0.11954832]]),
 array([[0.01997532]]),
 array([[0.]]),
 array([[0.1153968]]),
 array([[0.11659964]]),
 array([[0.4442955]]),
 array([[0.01083694]]),
 array([[0.00850704]]),
 array([[0.01697716]]),
 array([[0.32560906]]),
 array([[0.01339066]]),
 array([[0.13107013]]),
 array([[0.12571481]]),
 array([[0.01336045]]),
 array([[0.01788558]]),
 array([[0.0114342]]),
 array([[0.12319684]]),
 array([[0.01610022]]),
 array([[0.01214175]]),
 array([[0.0203325]]),
 array([[0.01241322]]),
 array([[0.11235396]]),
 array([[0.17611889]]),
 array([[0.01443088]]),
 array([[0.14789614]]),
 array([[0.16630064]]),
 array([[0.01652621]]),
 array([[0.01220914]]),
 array([[0.17424859]]),
 array([[0.14902455]]),
 array([[0.00980936]]),
 array([[0.01748513]]),
 array([[0.15667445]]),
 array([[0.01618602]]),
 array([[0.14329686]]),
 array([[0.12128871]]),
 array([[0.10740392]]),
 array([[0.01367268]]),
 array([[0.14450592]]),
 array([[0.01015278]]),
 array([[0.01967679]]),
 array([[0.01173643]]),
 array([[0.13185586]]),
 array([[0.11987014]]),
 array([[0.01637549]]),
 array([[0.49973928]]),
 array([[0.01171146]]),
 array([[0.01198386]]),
 array([[0.1336222]]),
 array([[0.01189135]]),
 array([[0.09246672]]),
 array([[0.01173643]]),
 array([[0.12927367]]),
 array([[0.0122945]]),
 array([[0.01031794]]),
 array([[0.01031794]]),
 array([[0.00853662]]),
 array([[0.01674312]]),
 array([[0.01266491]]),
 array([[0.01606551]]),
 array([[0.00933295]]),
 array([[0.13117765]]),
 array([[0.01329809]]),
 array([[0.]]),
 array([[0.01530535]]),
 array([[0.01901706]]),
 array([[0.01475976]]),
 array([[0.11918075]]),
 array([[0.13074928]]),
 array([[0.01289713]]),
 array([[0.18803116]]),
 array([[0.00627854]]),
 array([[0.01206389]]),
 array([[0.01115676]]),
 array([[0.01468534]]),
 array([[0.01242958]]),
 array([[0.01432002]]),
 array([[0.01038802]]),
 array([[0.01294201]]),
 array([[0.01319956]]),
 array([[0.01136723]]),
 array([[0.01906588]]),
 array([[0.13784555]]),
 array([[0.17424859]]),
 array([[0.01184605]]),
 array([[0.01270951]]),
 array([[0.01005237]]),
 array([[0.]]),
 array([[0.01206747]]),
 array([[0.01206747]]),
 array([[0.01086206]]),
 array([[0.11954832]]),
 array([[0.09611961]]),
 array([[0.13425063]]),
 array([[0.01622956]]),
 array([[0.01673727]]),
 array([[0.01178414]]),
 array([[0.01497196]]),
 array([[0.01505161]]),
 array([[0.01038802]]),
 array([[0.13784555]]),
 array([[0.17330474]]),
 array([[0.01172798]]),
 array([[0.01243771]]),
 array([[0.01138886]]),
 array([[0.12644693]]),
 array([[0.11659964]]),
 array([[0.01143224]]),
 array([[0.01482649]]),
 array([[0.01426203]]),
 array([[0.01630776]]),
 array([[0.15023551]]),
 array([[0.01720948]]),
 array([[0.01512148]]),
 array([[0.13341668]]),
 array([[0.01578898]]),
 array([[0.01241106]]),
 array([[0.0088707]]),
 array([[0.01338443]]),
 array([[0.19431234]]),
 array([[0.15023551]]),
 array([[0.01524525]]),
 array([[0.01300969]]),
 array([[0.01403237]]),
 array([[0.1450036]]),
 array([[0.01289735]]),
 array([[0.0138968]]),
 array([[0.0138968]]),
 array([[0.0129018]]),
 array([[0.1249569]]),
 array([[0.01357067]]),
 array([[0.01679075]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01426978]]),
 array([[0.]]),
 array([[0.14315488]]),
 array([[0.01729471]]),
 array([[0.01129851]]),
 array([[0.011071]]),
 array([[0.17532048]]),
 array([[0.1233159]]),
 array([[0.]]),
 array([[0.166184]]),
 array([[0.01429682]]),
 array([[0.12927367]]),
 array([[0.01174833]]),
 array([[0.01424656]]),
 array([[0.1336222]]),
 array([[0.01404536]]),
 array([[0.01617487]]),
 array([[0.01922595]]),
 array([[0.01355646]]),
 array([[0.11392505]]),
 array([[0.11659964]]),
 array([[0.01300043]]),
 array([[0.13784555]]),
 array([[0.14906952]]),
 array([[0.01168313]]),
 array([[0.12571481]]),
 array([[0.01269196]]),
 array([[0.0158449]]),
 array([[0.01269539]]),
 array([[0.0127652]]),
 array([[0.11071624]]),
 array([[0.01484959]]),
 array([[0.01658193]]),
 array([[0.18803116]]),
 array([[0.01168313]]),
 array([[0.01305807]]),
 array([[0.01976949]]),
 array([[0.01634564]]),
 array([[0.02019721]]),
 array([[0.13000269]]),
 array([[0.01647418]]),
 array([[0.01031863]]),
 array([[0.01667952]]),
 array([[0.17580528]]),
 array([[0.01417835]]),
 array([[0.01093423]]),
 array([[0.0157309]]),
 array([[0.0152508]]),
 array([[0.0137675]]),
 array([[0.01220914]]),
 array([[0.01646496]]),
 array([[0.15818761]]),
 array([[0.]]),
 array([[0.01758651]]),
 array([[0.13247038]]),
 array([[0.00606321]]),
 array([[0.11037742]]),
 array([[0.01686152]]),
 array([[0.01371171]]),
 array([[0.00986126]]),
 array([[0.01509443]]),
 array([[0.01480331]]),
 array([[0.16543564]]),
 array([[0.01206747]]),
 array([[0.01644803]]),
 array([[0.01400342]]),
 array([[0.16550809]]),
 array([[0.13481177]]),
 array([[0.16668809]]),
 array([[0.]]),
 array([[0.01233982]]),
 array([[0.01484077]]),
 array([[0.27996951]]),
 array([[0.01214175]]),
 array([[0.01190255]]),
 array([[0.01266773]]),
 array([[0.19431234]]),
 array([[0.01656567]]),
 array([[0.16641494]]),
 array([[0.10565187]]),
 array([[0.01509545]]),
 array([[0.01652189]]),
 array([[0.01853339]]),
 array([[0.01626444]]),
 array([[0.01583698]]),
 array([[0.01531512]]),
 array([[0.01398007]]),
 array([[0.01763848]]),
 array([[0.01822768]]),
 array([[0.01871582]]),
 array([[0.01354579]]),
 array([[0.01354579]]),
 array([[0.14754336]]),
 array([[0.01456609]]),
 array([[0.01451876]]),
 array([[0.0219047]]),
 array([[0.01258754]]),
 array([[0.01224418]]),
 array([[0.01678646]]),
 array([[0.01340725]]),
 array([[0.01617515]]),
 array([[0.26146122]]),
 array([[0.01853339]]),
 array([[0.01703956]]),
 array([[0.01635888]]),
 array([[0.01521217]]),
 array([[0.01554868]]),
 array([[0.01463134]]),
 array([[0.15690422]]),
 array([[0.01436896]]),
 array([[0.0163633]]),
 array([[0.]]),
 array([[0.0175518]]),
 array([[0.01695115]]),
 array([[0.01137575]]),
 array([[0.01625064]]),
 array([[0.01263685]]),
 array([[0.1382811]]),
 array([[0.19180911]]),
 array([[0.01440945]]),
 array([[0.01119793]]),
 array([[0.01499472]]),
 array([[0.01300878]]),
 array([[0.01765365]]),
 array([[0.01198473]]),
 array([[0.01432425]]),
 array([[0.01391233]]),
 array([[0.01514432]]),
 array([[0.0157259]]),
 array([[0.01365455]]),
 array([[0.11659964]]),
 array([[0.11228272]]),
 array([[0.01380687]]),
 array([[0.01647088]]),
 array([[0.0122017]]),
 array([[0.14276245]]),
 array([[0.01499472]]),
 array([[0.23949892]]),
 array([[0.23973199]]),
 array([[0.]]),
 array([[0.15632212]]),
 array([[0.10048105]]),
 array([[0.0137911]]),
 array([[0.]]),
 array([[0.01801174]]),
 array([[0.0156727]]),
 array([[0.01888441]]),
 array([[0.19896169]]),
 array([[0.01168994]]),
 array([[0.49973928]]),
 array([[0.20631316]]),
 array([[0.01644457]]),
 array([[0.01573948]]),
 array([[0.11042143]]),
 array([[0.01220914]]),
 array([[0.0161254]]),
 array([[0.11042143]]),
 array([[0.15279441]]),
 array([[0.01583566]]),
 array([[0.01162522]]),
 array([[0.01281029]]),
 array([[0.0162487]]),
 array([[0.01279506]]),
 array([[0.01442829]]),
 array([[0.19180911]]),
 array([[0.01178414]]),
 array([[0.01537706]]),
 array([[0.0141905]]),
 array([[0.01621791]]),
 array([[0.01268802]]),
 array([[0.01357061]]),
 array([[0.0176251]]),
 array([[0.01153373]]),
 array([[0.01098772]]),
 array([[0.12819634]]),
 array([[0.11563449]]),
 array([[0.01428249]]),
 array([[0.01415411]]),
 array([[0.19431234]]),
 array([[0.0174427]]),
 array([[0.01354105]]),
 array([[0.0165161]]),
 array([[0.15023551]]),
 array([[0.20886847]]),
 array([[0.01700446]]),
 array([[0.16443403]]),
 array([[0.01967679]]),
 array([[0.01214422]]),
 array([[0.00917303]]),
 array([[0.01617194]]),
 array([[0.00803918]]),
 array([[0.01792617]]),
 array([[0.01621832]]),
 array([[0.]]),
 array([[0.01842723]]),
 array([[0.01252059]]),
 array([[0.01287629]]),
 array([[0.0144472]]),
 array([[0.01976949]]),
 array([[0.01637549]]),
 array([[0.13053048]]),
 array([[0.01475317]]),
 array([[0.]]),
 array([[0.01313264]]),
 array([[0.01569242]]),
 array([[0.11659964]]),
 array([[0.01428249]]),
 array([[0.01590718]]),
 array([[0.11841308]]),
 array([[0.18803116]]),
 array([[0.01332157]]),
 array([[0.01409188]]),
 array([[0.15718553]]),
 array([[0.01463134]]),
 array([[0.01635888]]),
 array([[0.01367651]]),
 array([[0.01463134]]),
 array([[0.01598096]]),
 array([[0.01288543]]),
 array([[0.01573948]]),
 array([[0.01236697]]),
 array([[0.01357061]]),
 array([[0.01377304]]),
 array([[0.01339995]]),
 array([[0.01569656]]),
 array([[0.18803116]]),
 array([[0.15718553]]),
 array([[0.01808334]]),
 array([[0.01617487]]),
 array([[0.09935991]]),
 array([[0.01087713]]),
 array([[0.20022614]]),
 array([[0.01545795]]),
 array([[0.01268802]]),
 array([[0.01121194]]),
 array([[0.01912631]]),
 array([[0.01871582]]),
 array([[0.56290817]]),
 array([[0.01524525]]),
 array([[0.01242958]]),
 array([[0.17713694]]),
 array([[0.01348092]]),
 array([[0.01569656]]),
 array([[0.01566949]]),
 array([[0.02085753]]),
 array([[0.01422249]]),
 array([[0.01562986]]),
 array([[0.01639625]]),
 array([[0.01834508]]),
 array([[0.]]),
 array([[0.14484002]]),
 array([[0.01268802]]),
 array([[0.01206747]]),
 array([[0.01688077]]),
 array([[0.01367651]]),
 array([[0.00911285]]),
 array([[0.01888441]]),
 array([[0.0123005]]),
 array([[0.01130112]]),
 array([[0.01165973]]),
 array([[0.01773437]]),
 array([[0.01162221]]),
 array([[0.01386178]]),
 array([[0.11674818]]),

In [53]:
#getting the job id's of the recommendations
top = sorted(range(len(output2)), key=lambda i: output2[i], reverse=True)[:3]
top
recommendation = pd.DataFrame(columns = ['CandidateID', 'JobID'])
count = 0
for i in top:
    recommendation.loc[count, 'CandidateID']=u
    recommendation.loc[count,'JobID']=final_all['job_id'][i]
    count += 1

In [54]:
recommendation

                            CandidateID                                 JobID
0  bc4d77ca-a201-4a84-a954-99fbd99c58c9  36665e8a-8dd2-402e-bcd4-5e0886a8f506
1  bc4d77ca-a201-4a84-a954-99fbd99c58c9  f0b43bed-662c-4a42-ac3e-31abd307094b
2  bc4d77ca-a201-4a84-a954-99fbd99c58c9  589c4e63-7e33-40c6-982e-26bba770d81a

In [69]:
#getting the job ids and their data
nearestjobs = recommendation['JobID'][:10]
job_description = pd.DataFrame(columns = ['JobID','text'])
for i in nearestjobs:
    index = np.where(final_all['job_id'] == i)[0][0]    
    job_description.loc[count, 'CandidateID']=u
    job_description.loc[count, 'JobID']=i
    job_description.loc[count, 'text']= final_all['text'][index]
    count += 1

In [70]:
#printing the jobs that matched the query
job_description

,JobID,text,CandidateID
12,36665e8a-8dd2-402e-bcd4-5e0886a8f506,mechnic fitter iti raipur apprentic fresher,bc4d77ca-a201-4a84-a954-99fbd99c58c9
13,f0b43bed-662c-4a42-ac3e-31abd307094b,mine diploma kurnool contractu 3 5 yr,bc4d77ca-a201-4a84-a954-99fbd99c58c9
14,589c4e63-7e33-40c6-982e-26bba770d81a,draughtsman diploma ghaziabad full time 0 2 yr,bc4d77ca-a201-4a84-a954-99fbd99c58c9